<section>
    </br>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">ISO-3166</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Alpha2 code:</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="country.alpha2Code"></strong></p>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Alpha3 code:</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="country.alpha3Code"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Numeric code:</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="country.numericCode"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Independent:</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="country.independent"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Status:</p>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <p><strong ng-bind="country.status"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Short name:</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="country.shortNameEn"></strong></p>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Short name uppercase:</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p><strong ng-bind="country.shortNameUppercaseEn"></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <p>Full name:</p>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <p><strong ng-bind="country.fullNameEn"></strong></p>
                        </div>
                    </div>
                    <a type="button" class="btn btn-default">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
</section>