<section>
    <h1>Edit country as ISO-3166</h1>
    <h2>Update the information:</h2>

    <ul class="nav nav-tabs">
        <li ui-sref-active="active">
            <a href ui-sref=".dashboard">Dashboard</a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref=".countryCode">Country code</a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref=".countryNames">Country names</a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref=".languages">Languages</a>
        </li>
        <li ui-sref-active="active">
            <a href ui-sref=".territories">Territories</a>
        </li>
    </ul>

    <div ui-view></div>

</section>